:root {
  --failed-bg-color: #d9534f;
}

.panel.failed > .panel-heading,
tr.failed {
  background-color: var(--failed-bg-color);
  color: white;
}

button[data-action='highlight-failures'] {
  float: right;
}
